<nav class="navPadReset navbar navbar-expand-lg bg-body-tertiary" aria-label="Thirteenth navbar example">
  <div class="navbarCustomCss container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0 m-2" href='tasinmazlar'>Taşınmaz Yönetimi</a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <a href="tasinmazlar"><button class="btn navButtons m-2">Taşınmaz Yönetimi</button></a>
        <a href="kullanicilar"><button class="btn navButtons m-2">Kullanıcılar</button></a>
        <a href="loglar"><button class="btn navButtons m-2">Log Kayıtları</button></a>
        <a href="geo"><button class="btn navButtons m-2">geoJson</button></a>
        <!-- <a href="mainmap"><button class="btn navButtons m-2">Haritalar</button></a> -->
      </ul>
      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        <button class="btn btn-outline-danger m-2" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
      </div>
    </div>
  </div>
</nav>