
<div class="container mt-5">
  <form class="form-inline mb-2">
    <select id="type" class="lineSelect kanit-medium">
      <option>Çizim Aracı</option>
      <option value="Point">Point</option>
      <option value="LineString">LineString</option>
      <option value="Polygon">Polygon</option>
      <option value="Circle">Circle</option>
    </select>
  </form>
  <hr>
  <div id="map" class="map mb-2"></div>
  <hr>
  <div id="mouse-position" class="mouse-position kanit-medium"></div>
  <hr>
</div>

